<% if trip.city.name.split(",").map(&:strip).last == "Andorra" %><span class="flag">🇦🇩</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "United Arab Emirates" %><span class="flag">🇦🇪</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Afghanistan" %><span class="flag">🇦🇫</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Antigua and Barbuda" %><span class="flag">🇦🇬</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Anguilla" %><span class="flag">🇦🇮</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Albania" %><span class="flag">🇦🇱</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Armenia" %><span class="flag">🇦🇲</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Angola" %><span class="flag">🇦🇴</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Antarctica" %><span class="flag">🇦🇶</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Argentina" %><span class="flag">🇦🇷</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "American Samoa" %><span class="flag">🇦🇸</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Austria" %><span class="flag">🇦🇹</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Australia" %><span class="flag">🇦🇺</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Aruba" %><span class="flag">🇦🇼</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Åland Islands" %><span class="flag">🇦🇽</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Azerbaijan" %><span class="flag">🇦🇿</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Bosnia and Herzegovina" %><span class="flag">🇧🇦</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Barbados" %><span class="flag">🇧🇧</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Bangladesh" %><span class="flag">🇧🇩</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Belgium" %><span class="flag">🇧🇪</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Burkina Faso" %><span class="flag">🇧🇫</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Bulgaria" %><span class="flag">🇧🇬</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Bahrain" %><span class="flag">🇧🇭</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Burundi" %><span class="flag">🇧🇮</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Benin" %><span class="flag">🇧🇯</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Saint Barthélemy" %><span class="flag">🇧🇱</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Bermuda" %><span class="flag">🇧🇲</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Brunei Darussalam" %><span class="flag">🇧🇳</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Bolivia" %><span class="flag">🇧🇴</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Bonaire, Sint Eustatius and Saba" %><span class="flag">🇧🇶</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Brazil" %><span class="flag">🇧🇷</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Bahamas" %><span class="flag">🇧🇸</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Bhutan" %><span class="flag">🇧🇹</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Bouvet Island" %><span class="flag">🇧🇻</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Botswana" %><span class="flag">🇧🇼</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Belarus" %><span class="flag">🇧🇾</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Belize" %><span class="flag">🇧🇿</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Canada" %><span class="flag">🇨🇦</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Cocos (Keeling) Islands" %><span class="flag">🇨🇨</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Congo" %><span class="flag">🇨🇩</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Central African Republic" %><span class="flag">🇨🇫</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Congo" %><span class="flag">🇨🇬</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Switzerland" %><span class="flag">🇨🇭</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Côte D'Ivoire" %><span class="flag">🇨🇮</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Cook Islands" %><span class="flag">🇨🇰</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Chile" %><span class="flag">🇨🇱</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Cameroon" %><span class="flag">🇨🇲</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "China" %><span class="flag">🇨🇳</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Colombia" %><span class="flag">🇨🇴</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Costa Rica" %><span class="flag">🇨🇷</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Cuba" %><span class="flag">🇨🇺</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Cape Verde" %><span class="flag">🇨🇻</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Curaçao" %><span class="flag">🇨🇼</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Christmas Island" %><span class="flag">🇨🇽</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Cyprus" %><span class="flag">🇨🇾</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Czech Republic" %><span class="flag">🇨🇿</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Germany" %><span class="flag">🇩🇪</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Djibouti" %><span class="flag">🇩🇯</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Denmark" %><span class="flag">🇩🇰</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Dominica" %><span class="flag">🇩🇲</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Dominican Republic" %><span class="flag">🇩🇴</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Algeria" %><span class="flag">🇩🇿</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Ecuador" %><span class="flag">🇪🇨</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Estonia" %><span class="flag">🇪🇪</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Egypt" %><span class="flag">🇪🇬</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Western Sahara" %><span class="flag">🇪🇭</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Eritrea" %><span class="flag">🇪🇷</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Spain" %><span class="flag">🇪🇸</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Ethiopia" %><span class="flag">🇪🇹</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Finland" %><span class="flag">🇫🇮</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Fiji" %><span class="flag">🇫🇯</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Falkland Islands" %><span class="flag">🇫🇰</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Micronesia" %><span class="flag">🇫🇲</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Faroe Islands" %><span class="flag">🇫🇴</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "France" %><span class="flag">🇫🇷</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Gabon" %><span class="flag">🇬🇦</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "United Kingdom" %><span class="flag">🇬🇧</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Grenada" %><span class="flag">🇬🇩</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Georgia" %><span class="flag">🇬🇪</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "French Guiana" %><span class="flag">🇬🇫</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Guernsey" %><span class="flag">🇬🇬</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Ghana" %><span class="flag">🇬🇭</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Gibraltar" %><span class="flag">🇬🇮</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Greenland" %><span class="flag">🇬🇱</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Gambia" %><span class="flag">🇬🇲</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Guinea" %><span class="flag">🇬🇳</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Guadeloupe" %><span class="flag">🇬🇵</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Equatorial Guinea" %><span class="flag">🇬🇶</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Greece" %><span class="flag">🇬🇷</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "South Georgia" %><span class="flag">🇬🇸</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Guatemala" %><span class="flag">🇬🇹</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Guam" %><span class="flag">🇬🇺</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Guinea-Bissau" %><span class="flag">🇬🇼</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Guyana" %><span class="flag">🇬🇾</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Hong Kong" %><span class="flag">🇭🇰</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Heard Island and Mcdonald Islands" %><span class="flag">🇭🇲</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Honduras" %><span class="flag">🇭🇳</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Croatia" %><span class="flag">🇭🇷</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Haiti" %><span class="flag">🇭🇹</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Hungary" %><span class="flag">🇭🇺</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Indonesia" %><span class="flag">🇮🇩</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Ireland" %><span class="flag">🇮🇪</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Israel" %><span class="flag">🇮🇱</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Isle of Man" %><span class="flag">🇮🇲</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "India" %><span class="flag">🇮🇳</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "British Indian Ocean Territory" %><span class="flag">🇮🇴</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Iraq" %><span class="flag">🇮🇶</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Iran" %><span class="flag">🇮🇷</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Iceland" %><span class="flag">🇮🇸</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Italy" %><span class="flag">🇮🇹</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Jersey" %><span class="flag">🇯🇪</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Jamaica" %><span class="flag">🇯🇲</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Jordan" %><span class="flag">🇯🇴</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Japan" %><span class="flag">🇯🇵</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Kenya" %><span class="flag">🇰🇪</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Kyrgyzstan" %><span class="flag">🇰🇬</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Cambodia" %><span class="flag">🇰🇭</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Kiribati" %><span class="flag">🇰🇮</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Comoros" %><span class="flag">🇰🇲</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Saint Kitts and Nevis" %><span class="flag">🇰🇳</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "North Korea" %><span class="flag">🇰🇵</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "South Korea" %><span class="flag">🇰🇷</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Kuwait" %><span class="flag">🇰🇼</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Cayman Islands" %><span class="flag">🇰🇾</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Kazakhstan" %><span class="flag">🇰🇿</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Lao People's Democratic Republic" %><span class="flag">🇱🇦</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Lebanon" %><span class="flag">🇱🇧</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Saint Lucia" %><span class="flag">🇱🇨</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Liechtenstein" %><span class="flag">🇱🇮</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Sri Lanka" %><span class="flag">🇱🇰</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Liberia" %><span class="flag">🇱🇷</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Lesotho" %><span class="flag">🇱🇸</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Lithuania" %><span class="flag">🇱🇹</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Luxembourg" %><span class="flag">🇱🇺</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Latvia" %><span class="flag">🇱🇻</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Libya" %><span class="flag">🇱🇾</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Morocco" %><span class="flag">🇲🇦</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Monaco" %><span class="flag">🇲🇨</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Moldova" %><span class="flag">🇲🇩</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Montenegro" %><span class="flag">🇲🇪</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Saint Martin (French Part)" %><span class="flag">🇲🇫</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Madagascar" %><span class="flag">🇲🇬</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Marshall Islands" %><span class="flag">🇲🇭</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Macedonia" %><span class="flag">🇲🇰</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Mali" %><span class="flag">🇲🇱</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Myanmar" %><span class="flag">🇲🇲</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Mongolia" %><span class="flag">🇲🇳</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Macao" %><span class="flag">🇲🇴</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Northern Mariana Islands" %><span class="flag">🇲🇵</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Martinique" %><span class="flag">🇲🇶</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Mauritania" %><span class="flag">🇲🇷</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Montserrat" %><span class="flag">🇲🇸</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Malta" %><span class="flag">🇲🇹</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Mauritius" %><span class="flag">🇲🇺</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Maldives" %><span class="flag">🇲🇻</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Malawi" %><span class="flag">🇲🇼</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Mexico" %><span class="flag">🇲🇽</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Malaysia" %><span class="flag">🇲🇾</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Mozambique" %><span class="flag">🇲🇿</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Namibia" %><span class="flag">🇳🇦</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "New Caledonia" %><span class="flag">🇳🇨</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Niger" %><span class="flag">🇳🇪</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Norfolk Island" %><span class="flag">🇳🇫</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Nigeria" %><span class="flag">🇳🇬</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Nicaragua" %><span class="flag">🇳🇮</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Netherlands" %><span class="flag">🇳🇱</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Norway" %><span class="flag">🇳🇴</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Nepal" %><span class="flag">🇳🇵</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Nauru" %><span class="flag">🇳🇷</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Niue" %><span class="flag">🇳🇺</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "New Zealand" %><span class="flag">🇳🇿</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Oman" %><span class="flag">🇴🇲</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Panama" %><span class="flag">🇵🇦</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Peru" %><span class="flag">🇵🇪</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "French Polynesia" %><span class="flag">🇵🇫</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Papua New Guinea" %><span class="flag">🇵🇬</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Philippines" %><span class="flag">🇵🇭</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Pakistan" %><span class="flag">🇵🇰</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Poland" %><span class="flag">🇵🇱</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Saint Pierre and Miquelon" %><span class="flag">🇵🇲</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Pitcairn" %><span class="flag">🇵🇳</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Puerto Rico" %><span class="flag">🇵🇷</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Palestinian Territory" %><span class="flag">🇵🇸</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Portugal" %><span class="flag">🇵🇹</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Palau" %><span class="flag">🇵🇼</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Paraguay" %><span class="flag">🇵🇾</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Qatar" %><span class="flag">🇶🇦</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Réunion" %><span class="flag">🇷🇪</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Romania" %><span class="flag">🇷🇴</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Serbia" %><span class="flag">🇷🇸</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Russia" %><span class="flag">🇷🇺</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Rwanda" %><span class="flag">🇷🇼</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Saudi Arabia" %><span class="flag">🇸🇦</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Solomon Islands" %><span class="flag">🇸🇧</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Seychelles" %><span class="flag">🇸🇨</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Sudan" %><span class="flag">🇸🇩</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Sweden" %><span class="flag">🇸🇪</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Singapore" %><span class="flag">🇸🇬</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Saint Helena, Ascension and Tristan Da Cunha" %><span class="flag">🇸🇭</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Slovenia" %><span class="flag">🇸🇮</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Svalbard and Jan Mayen" %><span class="flag">🇸🇯</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Slovakia" %><span class="flag">🇸🇰</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Sierra Leone" %><span class="flag">🇸🇱</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "San Marino" %><span class="flag">🇸🇲</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Senegal" %><span class="flag">🇸🇳</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Somalia" %><span class="flag">🇸🇴</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Suriname" %><span class="flag">🇸🇷</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "South Sudan" %><span class="flag">🇸🇸</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Sao Tome and Principe" %><span class="flag">🇸🇹</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "El Salvador" %><span class="flag">🇸🇻</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Sint Maarten (Dutch Part)" %><span class="flag">🇸🇽</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Syrian Arab Republic" %><span class="flag">🇸🇾</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Swaziland" %><span class="flag">🇸🇿</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Turks and Caicos Islands" %><span class="flag">🇹🇨</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Chad" %><span class="flag">🇹🇩</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "French Southern Territories" %><span class="flag">🇹🇫</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Togo" %><span class="flag">🇹🇬</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Thailand" %><span class="flag">🇹🇭</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Tajikistan" %><span class="flag">🇹🇯</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Tokelau" %><span class="flag">🇹🇰</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Timor-Leste" %><span class="flag">🇹🇱</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Turkmenistan" %><span class="flag">🇹🇲</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Tunisia" %><span class="flag">🇹🇳</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Tonga" %><span class="flag">🇹🇴</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Turkey" %><span class="flag">🇹🇷</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Trinidad and Tobago" %><span class="flag">🇹🇹</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Tuvalu" %><span class="flag">🇹🇻</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Taiwan" %><span class="flag">🇹🇼</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Tanzania" %><span class="flag">🇹🇿</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Ukraine" %><span class="flag">🇺🇦</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Uganda" %><span class="flag">🇺🇬</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "United States Minor Outlying Islands" %><span class="flag">🇺🇲</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "United States" %><span class="flag">🇺🇸</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Uruguay" %><span class="flag">🇺🇾</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Uzbekistan" %><span class="flag">🇺🇿</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Vatican City" %><span class="flag">🇻🇦</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Saint Vincent and The Grenadines" %><span class="flag">🇻🇨</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Venezuela" %><span class="flag">🇻🇪</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Virgin Islands, British" %><span class="flag">🇻🇬</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Virgin Islands, U.S." %><span class="flag">🇻🇮</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Viet Nam" %><span class="flag">🇻🇳</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Vanuatu" %><span class="flag">🇻🇺</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Wallis and Futuna" %><span class="flag">🇼🇫</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Samoa" %><span class="flag">🇼🇸</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Yemen" %><span class="flag">🇾🇪</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Mayotte" %><span class="flag">🇾🇹</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "South Africa" %><span class="flag">🇿🇦</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Zambia" %><span class="flag">🇿🇲</span><% end %>
<% if trip.city.name.split(",").map(&:strip).last == "Zimbabwe" %><span class="flag">🇿🇼</span><% end %>
