// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #145CFA;
$dark-blue: #0B3187;
$yellow: #FFC65A;
$orange: #FE932A;
$dark-orange: #F37922;
$green: #1BDBAD;
$green-transp: #1bdbaea6;
$dark-green: #1f5e50;
$gray: #464748;
$grey: #464748;
$light-gray: #F4F4F4;
$pink-orange: #ff5a51;
$light-pink-orange: #ffeae9;
$dark-pink-orange: #b94640;
$black: #0c0c0c;


// 2nd set of colours
$new-grey: #F7F9F9;
$new-green: #00A3A0;
$new-teal: #55828B;
$marker-green: #19a87b;
$new-grey: #d8d8d8;
