// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #145CFA;
$dark-blue: #0B3187;
$yellow: #FFC65A;
$orange: #FE932A;
$dark-orange: #F37922;
$green: #1BDBAD;
$gray: #3f3939;
$light-gray: #F4F4F4;
