
.fa-chevron-left, .fa-earth-americas {
  color: $pink-orange;
  text-decoration: none;
  // margin-right: 6px;
}

.profile-container {
  width: 85%;
}

.profile {
  display: flex;
  align-items: center;
  margin: 30px auto;
  width: 100%;
  height: 100%;



  .profile-page-photo {
    width: 230px;
    height: 230px;
    object-fit: cover;
    border-radius: 50%;
  }

  .profile-info {
    height: 600px;
    width: 50%;
    background-color: white;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    margin-right: 20px;
    border-radius: 8px;



    .profile-info-main {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;

      h3 {
        margin-top: 20px;
      }

      .job-title {
        font-weight: lighter;
        font-size: 20px;
      }

      .department {
        font-weight: lighter;
        font-size: 15px;
      }

      .under-photo {
        width: 240px;
      }
    }

    .profile-details {
      width: 42%;
      border-left: 1.2px solid var(--bs-border-color);
      padding-left: 30px;

      h3 {
        margin-bottom: 20px;
      }

      ul {
        padding-left: 0;
        padding-bottom: 0;
        list-style: none;
      }

      li {
        margin: 7px 20px;
      }
    }
  }

  .contacts {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;


    i:hover {
      color: $pink-orange;
    }
  }

  .fa-house-user, .fa-language, .fa-door-open, .fa-plane-departure {
    color: $pink-orange;
    margin-right: 6px;
  }
}

.no-trip-message {
  font-weight: bold;
  font-style: italic;
  margin-top: 15px;
}

.details-calender-container {
  background-color: white;
  padding: 30px 30px;
  text-align: center;

  width: 50%;
  height: 600px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  border-radius: 8px;

  h3 {
    margin-bottom: 20px;
  }

  .profile-details {
    width: 40%;
  }

  .calender {
    width: 90%;
    margin: 10px auto;

  }
}
