<div class="banner">
  <div class="homepage-title">
    <h1>Connect with your colleagues all around the world!</h1>
    <p class="mb-5">Meet colleagues who have something in common with you</p>
  </div>
</div>
