<div class="container">
  <h1 class="mt-5">Add your company</h1>
  <%= simple_form_for [@company] do |f| %>
    <%= f.input :name %>
    <%= f.input :slack_sub_domain %>
    <%= f.submit "Add the company", class: "btn btn-dark" %>
  <% end %>
</div>
