.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  color: $dark-green;
  background-color: $green-transp;
  border: 2px $dark-green;

  span {
    font-size: 20px;
    font-weight: bolder;
  }
}
