.btn-map {
  position: absolute;
  left: 320px;
  top: 80px;
  z-index: 3;
  opacity: 0.6;
}

.btn-city-map {
  position: absolute;
  left: 20px;
  top: 80px;
  z-index: 3;
  opacity: 0.6;
}

.btn-map:hover {
  opacity: 0.9;
}

.btn {
  letter-spacing: 0.05rem;
}

.btn-link {
  a {
    color: $gray;
    text-decoration: none;
  }
}
