.trip-card{
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  height: 500px;
  width: 800px;
}


.trip-card-infos {
padding: 16px;
height: 150px;
width: 700px;
margin: auto;
display: flex;
justify-content: space-between;
align-items: flex-end;
}

.favourite-card{
padding: 16px;
height: 350px;
width: 350px;
display: flex;
justify-content: space-between;
align-items: flex-end;
}

.card-text {
max-width: 80%;
}

.profile-card-1{
padding:30px;
width:100%;
height:30%;
text-align:left;
font-size:medium;
position:center;
background-size:cover;
margin-top:15px;
margin-left:15px;
margin-right:15px;
margin-bottom:30px;
}

.profile-card-2{
padding:30px;
width:100%;
height:50%;
text-align:left;
font-size:medium;
position:center;
background-size:cover;
margin-top:15px;
margin-left:15px;
margin-right:15px;
margin-bottom:30px;
}
