.trip-card {
  overflow: hidden;
  height: auto;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  width: 100%;
  height: 380px;

  a {
    text-decoration: none;
  }

  .dates {
    font-size: 14px;
  }

  .recommendations {
    width: 60%;
    padding-right: 40px;
  }

  .people {
    width: 40%;
  }

  .city-picture {
    width: 20%;
    height: 100%;
    object-fit: cover;
  }

  h2 {
    font-size: 25px;
    text-align: left;
    margin: 0;
  }

  h3 {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    margin: 0;
  }

  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .trip-card-infos {
    padding: 30px;
    width: 70%;

    .city-names-in-cards {
      font-weight: bold;

      a {
        color: #FF5A51;
      }

      a:hover {
        color: #b94640;
        transition: 0.2s;
      }
    }
  }
}

.profile-card-1 {
  width:30%;
  height:400px;
  justify-content: center;
  text-align:center;
  font-size:120%;
  position:center;
  background-size:cover;
  margin:auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top:30px;
  background-color:white;
}

.profile-card-2 {
  width:40%;
  height:400px;
  justify-content:flex;
  text-align:left;
  font-size:large;
  position:center;
  background-size:cover;
  margin:auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 30px;
  background-color:white;

  li {
    margin-left: 30px;
  }
}

.profile-card-3 {
  width:25%;
  height:400px;
  text-align:center;
  font-size:large;
  position:center;
  background-size:cover;
  margin:auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top:30px;
  padding-left:20px;
  background-color:white;
}


.trip-card-infos-tip {
  color: grey;
}

.photo-big {
  width: 230px;
  height: 230px;
  object-fit: cover;
  border-radius: 50%;
}


.tip-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
  height: 165px;
  flex-direction: column;

  h3 {
    font-size: 22px;
    text-align: left;
    margin-bottom: 10px;
  }

  .tip-card-content {
    font-size: 0.9rem;
    margin-top: 15px;;
    font-style: italic;
    color: grey;
  }

  .tip-card-top {
    border-bottom: solid lightgrey;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
  }

  .tip-card-icon-address {
    color:  rgba(129, 127, 127, 0.4);
    transition: 0.2s;
    font-size: medium;
    position: absolute;
    bottom: 13px;
    right: 40px;
  }

  .tip-card-icon-address:hover {
    color: #FF5A51;
    transition: 0.1s;
  }

  .tip-card-icon-bin {
    color:  rgba(129, 127, 127, 0.4);
    transition: 0.2s;
    font-size: medium;
    position: absolute;
    bottom: 13px;
    right: 10px;
  }

  .tip-card-icon-bin:hover {
    color: #FF5A51;
    transition: 0.1s;
  }

  .author-name {
    font-size: 1.1rem;
    text-decoration: none;
    color: #FF5A51;
    padding-left: 10px;
  }

  #place-name {
    color: #19A87B;
  }

  #full-address {
    font-size: 10px;
    text-decoration: none;
    color: #adadad;
  }

  #full-address:hover {
    color: #FF5A51;
  }

  #city-name {
    color: #FF5A51;
    font-weight: bolder;
  }
}

.tip-card-location {
  font-size: smaller;
  color: grey;

  a {
    text-decoration: none;
    color: grey;
  }
}
