.city-category {
  padding-top: 1%;
  padding-bottom: 0.5%;
  font-size: 2rem;
  font-weight: bold;

  a {
    text-decoration: none;
    color: $pink-orange;
    transition: 0.2s;
  }

  a:hover {
    color: $dark-pink-orange;
    transition: 0.2s;
  }
}

.trip-card {
  overflow: hidden;
  height: auto;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  width: 100%;
  height: 380px;

  a {
    text-decoration: none;
  }

  .dates {
    font-size: 14px;
  }

  .recommendations {
    width: 60%;
    padding-right: 40px;
  }

  .people {
    width: 40%;
  }

  .city-picture {
    width: 20%;
    height: 100%;
    object-fit: cover;
  }

  h2 {
    font-size: 25px;
    text-align: left;
    margin: 0;
  }

  h3 {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    margin: 0;
  }

  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .icon-bin-delete {
    color:  rgba(129, 127, 127, 0.4);
    transition: 0.2s;
    font-size: medium;
    margin-right: 10px;
    margin-left: 15px;
  }

  .icon-bin-delete:hover {
    color: $pink-orange;
    transition: 0.1s;
  }

  .icon-pen-edit {
    color:  rgba(129, 127, 127, 0.4);
    transition: 0.2s;
    font-size: medium;
  }

  .icon-pen-edit:hover {
    color: $pink-orange;
    transition: 0.1s;
  }

  .trip-card-infos {
    padding: 30px;
    width: 70%;

    .city-names-in-cards {
      font-weight: bold;

      a {
        color: $pink-orange;
      }

      a:hover {
        color: $dark-pink-orange;
        transition: 0.2s;
      }
    }
  }
}

.trip-card-infos-tip {
  color: grey;
}

.photo-big {
  width: 230px;
  height: 230px;
  object-fit: cover;
  border-radius: 50%;
}


.tip-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  width: 100%;
  height: 90%;
  flex-direction: column;

  h3 {
    font-size: 22px;
    text-align: left;
    margin-bottom: 10px;
  }

  .tip-card-content {
    font-size: 0.9rem;
    margin-top: 5px;
    font-style: italic;
    color: grey;
  }

  .tip-card-top {
    width: 100%;
    margin-bottom: 5px;
    position: relative;
  }

  .tip-card-icon-address {
    color:  white;
    opacity: 0.6;
    transition: 0.2s;
    font-size: medium;
    position: absolute;
    bottom: 13px;
    right: 40px;
  }

  .tip-card-icon-address:hover {
    color: white;
    opacity: 1;
    transition: 0.2s;
  }

  .tip-card-icon-bin {
    color:  white;
    opacity: 0.6;
    transition: 0.2s;
    font-size: medium;
    position: absolute;
    bottom: 13px;
    right: 10px;
  }

  .tip-card-icon-bin:hover {
    color: white;
    opacity: 1;
    transition: 0.2s;
  }

  .author-name {
    font-size: 1.1rem;
    text-decoration: none;
    color: $pink-orange;
    padding-left: 5px;
  }

  .author-name:hover {
    color: $dark-pink-orange;
  }

  .place-name-box {
    color: white;
    font-weight: default;
    font-size: 1.3rem;
    padding: 10px;
    background-color: #19A87B;
  }
}

.review-box {
  padding: 10px;
}
