// to be continued
.filters {
  width: 100%;
  display: flex;
  flex-direction: column;

  form {
    width: 100%;
    position: relative;
  }

  input {
    width: 16%;
  }

  select {
    background-color: #F4F4F4;
    border: 1px solid #ced4da;
    border-radius: 0;
    border-left: none;
    width: 18%;
    padding: 0 8px;
  }

  .search {
    width: 45%;
    border-left: none;
  }

  .x-icon {
    width: 10%;
    color: $grey;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 300;
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    right: -140px;
    text-decoration: none;

    &:hover {
      color: $pink-orange;
    }

    i {
      margin-right: 5px;
    }
  }

}
