.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.marker {
  width: auto;
  height: auto;
  text-align: center;
  padding-top: 9px;

  svg {
    height: 60px;
    width: 63px;
    filter: invert(44%) sepia(99%) saturate(358%) hue-rotate(110deg) brightness(98%) contrast(90%);
  }

  img {
    width: 62%;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    z-index: 5;
    top: 4px;
    left: 11.7px;

  }

  .city-count {
    width: 25px;
    height: 25px;
    background-color: rgb(255, 90, 81);
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    top: -7.5px;
    right: 2.5px;
    padding: auto;
    font-weight: 600;
    color: white;
  }
}

.marker-dot {
  width: 15px;
  height: 15px;
  background-color: $blue;
  transition: 0.2s;
}

.marker-dot:hover {
  width: 18px;
  height: 18px;
  background-color: $pink-orange;
}

.map-date {
  background-color: transparent;
  width: auto;
  position: absolute;
  bottom: 40px;
  right: 50px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .date-div {
    margin: 0 12px;
    text-align: center;
  }

  a {
    color: $pink-orange;
  }

  a:hover {
    color: rgb(229, 46, 36);
  }

  i {
    font-size: 2.1rem;
  }

  .month {
    font-size: 1.7rem;
    margin-bottom: 0;
    line-height: 1;
    font-weight: 600;
  }

  .year {
    font-size: 1.3rem;
    margin-bottom: 0px;
    color: #19A87B;
  }

}
