.map-filters {
  background-color: rgba(43, 41, 41, 0.8);
  width: auto;
  height: auto;
  position: absolute;
  left: 2%;
  top: 12%;
  z-index: 10;
  padding: 20px 20px;
  border-radius: 10px;
  color: #f8f9fa;

  .btn {
    width: 40%;
  }

  summary {
    font-size: 1.1rem;
  }

  ::marker {
    color: $pink-orange;
    margin-right: 13px;
  }

}



.input-div {
  margin-bottom: 15px;

  i {
  color: $pink-orange;
  margin-right: 7px;
  width: 18px;
  object-fit: cover;
  }

  select {
    width: 85%;
    padding: 3px 8px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    background-color: #f8f9fa;
  }

  option {
    padding-left: 0;
  }

  .date-field {
    width: 85%;
    padding: 3px 10px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    background-color: #f8f9fa;
  }
}
