.navbar-lewagon {
  justify-content: space-between;
  background: black;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;

  .nav-link {
    color: white;
  }

  .nav-link:hover {
    color: white;
  }

  p {
    margin-bottom: 0;
    margin-right: 10px;
  }

  span {
    font-size: 1.5rem;
    color: $pink-orange;
    font-weight: 600;
    margin: 0 3px;
  }

  .btn-sm {
    height: 30px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo-text {
  color: white;
  font-size: 1.5rem;
}

.logo-text:hover {
  color: white;
}

.dropdown-item {
  color: black;
}
