.people-window {
  padding: 15px 5px;
  width: 200px;


  a:focus-visible {
    outline: none;
  }
}

.link-underline-effect {
  color: $gray;
  text-decoration: none;
  font-size: 1.4rem;
}

.link-underline-effect {
  background:
      linear-gradient(
        to right,
        #19A87B,
        #19A87B
      ),
      linear-gradient(
        to right,
        $pink-orange,
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1)
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

.link-underline-effect:hover {
  color: $gray;
  background-size: 0 3px, 100% 3px;
}

// .card-heading-link {
//   border: none;
//   text-decoration: none;
//   font-size: 1.4rem;
//   line-height: 1.5;
//   box-shadow: inset 0 0 0 0 $pink-orange;
//   color: $pink-orange;
//   padding: 0 .30rem;
//   margin: 0 -.25rem;
//   transition: color .6s ease-in-out, box-shadow .6s ease-in-out;
// }

// .card-heading-link:hover {
//   color: #fff;
//   box-shadow: inset 200px 0 0 0 $pink-orange;

// }


.people-list {
  margin-top: 20px;
  padding-left: 0;

  a {
    color: $gray;
    text-decoration: none;
    margin-right: 15px;
  }

  a:hover {
    color: $gray;
    font-weight: 600;
  }

  i {
    color: rgb(25, 168, 123);
    margin-left: auto;
  }
}

.person {
  list-style: none;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
}
