.nav-tabs .nav-link {
  color: $grey;
  border-bottom: none;
}

.nav-tabs .nav-link.active {
  font-weight: 700;
  letter-spacing: 0.1rem;
  border-bottom: 4px solid #19a87b;
}

.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}
