.tips-window {
  padding: 15px 5px;
}

.card-heading-link:hover {
  color: white;

}

.tips-list {
  margin-top: 20px;
  padding-left: 0;

  a {
    color: $gray;
    text-decoration: none;
  }

  a:hover {
    color: $gray;
    text-decoration: underline;
  }
}

.tip {
  list-style: none;
  text-align: left;
  margin-bottom: 7px;
}
