.tip-window {
  padding: 10px;
  text-align: left;

  a {
    text-decoration: none;

  }

  a:focus-visible {
    outline: none;
  }

  .fa-map-location-dot {
    font-size: 1.15rem;
    color: $green;
    margin-top: 5px;
    margin-right: 10px;
    transition: 0.2s
  }

  .fa-map-location-dot:hover {
    color: $dark-green;
    transition: 0.2s
  }


  .fa-heart {
    font-size: 1.15rem;
    color: $green;
    margin-top: 5px;
    margin-right: 10px;
    transition: 0.2s;
  }

  .fa-heart:hover {
    color: $dark-green;
    transition: 0.2s
  }

  .fa-pen-to-square {
    font-size: 1.15rem;
    color: $green;
    margin-top: 5px;
    transition: 0.2s
  }

  .fa-pen-to-square:hover {
    color: $dark-green;
    transition: 0.2s
  }
}

.tip-name {
  color: $pink-orange;
}

.tip-category {
  border: 1px solid $green;
  border-radius: 12px;
  display: inline-block;
  padding: 2px 8px;
  margin-right: 10px;
  font-size: 0.7rem;
  font-weight: bold;
}

.tip-content {
  margin-bottom: 7px;
}
