.tip-window {
  padding: 10px;
  text-align: left;

  a {
    text-decoration: none;

  }

  a:focus-visible {
    outline: none;
  }

  .fa-heart {
    font-size: 1.15rem;
    color: $pink-orange;
    margin-top: 5px;
  }

  .fa-route {
    font-size: 1.15rem;
    color: $pink-orange;
    margin-top: 5px;
    margin-right: 10px;
  }
}

.tip-name {
  color: $pink-orange;

}

.tip-category {
  border: 1px solid $pink-orange;
  border-radius: 12px;
  display: inline-block;
  padding: 2px 8px;
  font-size: 0.7rem;
  font-weight: bold;
}

.tip-content {
  margin-bottom: 7px;
}
