.trip-column-1{
  width:40%;
  margin-left:130px;
}

.trip-column-2{
  width:60%;
  background-image:url('form-image');
  background-size: cover;
  width:320PX;
  height:400px;
  margin-top:50px;
  margin-bottom:20px;
  margin-left:80px;
}
