.card-user {
  overflow: hidden;
  height: 130px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.card-user img {
  width: 35%;
  min-height: 100%;
  object-fit: cover;
}

.card-user h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;

  a {
    color:$gray;
    position: relative;
    text-decoration: none;
    font-size: 1rem;
    }

    a:hover {
      color: $gray;
    }

    a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1.5px;
      border-radius: 0;
      background-color: $gray;
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }

    a:hover::before {
      transform-origin: left;
      transform: scaleX(1);
    }
}

.card-user p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;

  a {
    color:$gray;
    position: relative;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    }

    a:hover {
      color: $gray;
    }

    a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      border-radius: 0;
      background-color: $gray;
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }

    a:hover::before {
      transform-origin: left;
      transform: scaleX(1);
    }
}

.card-user .card-user-infos {
  padding: 16px;

  i {
    color: $red;
    margin-right: 3px;
  }
}
