<% if tip.category == 'ðŸŽ­ Cultural' %>
  <span class="material-icons">
  theater_comedy
  </span>
<% end %>
<% if tip.category == 'ðŸ½ï¸ Restaurant' %>
  <span class="material-icons">
  restaurant
  </span>
<% end %>
<% if tip.category == 'â˜•ï¸ Cafe' %>
  <span class="material-icons">
  local_cafe
  </span>
<% end %>
<% if tip.category == 'ðŸ’» Coworking' %>
  <span class="material-icons">
  laptop_mac
  </span>
<% end %>
<% if tip.category == 'ðŸ› Worship' %>
  <span class="material-icons">
  church
  </span>
<% end %>
<% if tip.category == 'ðŸ¹ Bar' %>
  <span class="material-icons">
  local_bar
  </span>
<% end %>
<% if tip.category == 'ðŸŽ¨ Art' %>
  <span class="material-icons">
  palette
  </span>
<% end %>
<% if tip.category == 'ðŸŽ¾ Sports' %>
  <span class="material-icons">
  sports_baseball
  </span>
<% end %>
<% if tip.category == 'ðŸ›¡ï¸ Safety' %>
  <span class="material-icons">
  privacy_tip
  </span>
<% end %>
<% if tip.category == 'ðŸŒ† Sight' %>
  <span class="material-icons">
  museum
  </span>
<% end %>
<% if tip.category == 'â„¹ï¸ Other' %>
  <span class="material-icons">
  info
  </span>
<% end %>
